:root {
    --dark: #083D77;
    --light: #eae5e1;
    --gray: #BFD3C1;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--dark);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.wrapper {
    background-color: var(--gray);
    padding: 28px;
    border-radius: 6px;
    margin: 40px auto;
}

.row {
    margin: 12px -15px;
}

.panel {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--dark);
    color: var(--white);
    padding: 16px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 16px;
    margin-top: 12px;
}

.wrapper-result {
    background-color: var(--gray);
    padding: 28px;
    border-radius: 6px;
    margin: 30px auto;
}

.wrapper-result p {
    font-weight: 700;
    text-align: center;
    background-color: var(--dark);
    color: var(--white);
    padding: 4px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.container-fluid {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .container-fluid {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .container-fluid {
        width: 80%;
    }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
    .container-fluid {
        width: 90%;
    }
}